# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/
*.env
!dev.env
!.env.example

# Node
node_modules/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
mongo_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
